@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
</head>
<body>
    @await Html.PartialAsync("_navbar")
    @await Html.PartialAsync("_header")
    home/contact
</body>
</html>
